# Python Core & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/


# Testing & Caching
.pytest_cache/
.coverage
htmlcov/
.tox/

# Docker Files (Keeps the container context clean)
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

# Version Control
.git/
.gitignore

# IDEs and Editor configurations
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Local Databases 
# (You don't want to copy your local SQLite DB into the container)
db.sqlite3

# Machine Learning Models & Heavy Assets
# Excluded to keep the image lightweight. These should be mounted via volumes.
*/serial_linkage_model.pkl
*.csv
*.dat